.textomedio {font-size: 20pt;}

.icons-section {
    background-color: #1E1A13;
    padding: 60px 0;
    text-align: center;
    font-weight: 300;
    color: white;
  }
  

.centrado article {
    display: inline-block;
    margin: 0 auto;
    font-size: 25px;
    width: 30%;}

.form-label {color: white;}

.btn-info {color: white;}
